.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  position: relative;
  background-color: rgba(42, 44, 47, 1);
}

.page__cover {
  max-width: calc(1280px - 48px * 2);
  margin: 0 auto;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .page__cover {
    max-width: calc(1024px - 48px * 2);
  }
}

@media (max-width: 768px) {
  .page__cover {
    max-width: calc(768px - 24px * 2);
  }
}

@media (max-width: 320px) {
  .page__cover {
    max-width: calc(320px - 16px * 2);
  }
}

.header {
  max-height: 52px;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  position: relative;
  padding-top: 28px;
}

@media (max-width: 320px) {
  .header {
    max-height: 42px;
    padding-top: 16px;
  }
}

.header__logo {
  margin: 0;
  max-width: 176px;
  max-height: 52px;
  width: 100%;
  background-image: rgba(255, 255, 255, 1);
}

@media (max-width: 320px) {
  .header__logo {
    max-height: 42px;
    max-width: 142px;
    padding-bottom: 0;
  }
}

.header__links {
  margin: 0;
  padding-top: 18px;
}

@media (max-width: 320px) {
  .header__links {
    max-height: 42px;
    padding-top: 14px;
  }
}

.header__lang-link {
  margin: 0;
  display: inline;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  padding-left: 16px;
}

@media (max-width: 320px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
    padding-left: 15px;
  }
}

.header__lang-link:first-of-type {
  padding-left: 0;
}

.header__lang-link:focus {
  text-decoration: underline;
}

/* main content*/

/*секция lead */
.page__section {
  max-width: 984px;
  margin: 0 auto;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .page__section {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .page__section {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .page__section {
    max-width: 320px;
  }
}

.lead {
  display: block;
  margin: 0 auto;
  max-height: 1005px;
  padding-top: 56px;
}

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }
}

.lead__title {
  max-width: 720px;
  max-height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-height: 88px;
    margin: 0;
  }
}

.lead__subtitle {
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
  max-width: 640px;
  max-height: 72px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
  }
}

.lead__image {
  margin: 0;
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  padding-top: 64px;
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    padding-top: 56px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .lead.page__section {
    max-width: 768px;
    width: 100%;
  }
}

.lead__caption {
  margin: 0;
  max-width: 158px;
  width: 100%;
  max-height: 14px;
  padding-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.14em; /* должно быть 0,15 (0,15 не влазит)??? */
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
/* Секция INTRO*/
.intro {
  margin: 0 auto;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .intro {
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .intro {
    padding-top: 64px;
  }
}

.intro__width {
  margin: 0;
  max-width: 690px;
  max-height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .intro__width {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .intro__width {
    max-width: 288px;
    margin: 0 auto;
  }
}

.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media (max-width: 320px) {
  .intro__title {
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  margin: 0;
  max-width: 100%;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  padding-top: 40px;
}

.intro__list {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  padding-top: 33px;
  white-space: pre-line;
}

/* Секция photo-grid*/

.photo-grid {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    padding-top: 64px;
    grid-template-columns: repeat(1, auto);
    gap: 12px;
  }
}

.photo-grid__item {
  object-fit: cover;
  max-width: 284px;
  max-height: 213px;
  width: 100%;
}

@media (max-width: 1024px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }
}

@media (max-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media (max-width: 320px) {
  .photo-grid__item {
    max-height: 216px;
  }
}

/* Секция places*/

.places {
  margin: 0 auto;
  display: grid;
  grid-row-gap: 80px;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .places {
    padding-top: 88px;
    grid-row-gap: 71px;
  }
}

@media (max-width: 320px) {
  .places {
    padding-top: 64px;
    grid-row-gap: 50px;
  }
}

.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

@media (max-width: 1024px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 32px;
  }
}

.place__title {
  max-width: 460px;
  max-height: 152px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .place__title {
    white-space: pre-line;
    max-width: 340px;
    max-height: 92px;
    align-content: center;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 320px) {
  .place__title {
    margin: 0 auto;
    white-space: normal;
    max-width: 288px;
    max-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}

.place__image {
  margin: 0;
  max-width: 460px;
  max-height: 460px;
  width: 100%;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

.place__website {
  max-width: 456px;
  margin: auto 0 0;
}

@media (max-width: 768px) {
  .place__website {
    max-width: 288px;
    padding-left: 16px;
  }
}

.place__url-heading {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  padding-bottom: 12px;
}

.place__link {
  margin: 0;
  color: #aaaaaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__paragraphs {
  margin: 0;
  max-width: 484px;
  width: 100%;
  display: grid;
  grid-row-gap: 26px;
  grid-auto-rows: minmax(min-content, max-content);
}

@media (max-width: 1024px) {
  .place__paragraphs {
    max-width: 456px;
    grid-row-gap: 25px;
  }
}

@media (max-width: 768px) {
  .place__paragraphs {
    max-width: 352px;
    grid-row-gap: 25px;
  }
}

@media (max-width: 320px) {
  .place__paragraphs {
    margin: 0 auto;
    max-width: 288px;
    grid-row-gap: 25px;
  }
}

.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

/* Секция cover*/

.cover {
  padding-top: 92px;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media (max-width: 560px) {
  .cover {
    padding-top: 66px;
  }
}

.cover__link {
  position: relative;
  display: block;
  text-decoration: none;
  background-image: url(./images/cover-trains.jpg);
  background-size: 100% 100%;
  color: #ffffff;
  z-index: 1;
}

.cover__title {
  padding-top: 245px;
  max-width: 560px;
  max-height: 152px;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media (max-width: 560px) {
  .cover__title {
    white-space: pre-line;
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }
}

.cover__subtitle {
  max-width: 360px;
  max-height: 66px;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 245px;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media (max-width: 560px) {
  .cover__subtitle {
    white-space: pre-line;
    padding-bottom: 33px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(42, 44, 47, 1);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.cover__link:hover::after {
  opacity: 0.3;
}

/* Секция footer*/

.footer {
  margin: 0 auto;
  max-height: 18px;
  justify-content: space-between;
  display: flex;
  padding-bottom: 24px;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
    max-height: 100%;
  }
}

@media (max-width: 560px) {
  .footer {
    margin: auto;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .footer {
    display: grid;
    grid-row-gap: 48px;
    padding-top: 64px;
  }
}

.footer__links {
  margin: 0;
}

@media (max-width: 560px) {
  .footer__links {
    display: grid;
    grid-row-gap: 32px;
  }
}

.footer__link {
  width: min-content;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  margin-left: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 560px) {
  .footer__link {
    margin-left: 0;
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link:first-of-type {
  margin-left: 0;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 560px) {
  .footer__copyright {
    padding-top: 24px;
    line-height: 14px;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    padding-top: 0;
  }
}
