.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  position: relative;
  background-color: rgba(42, 44, 47, 1);
}

.page__cover {
  max-width: calc(1280px - 48px * 2);
  margin: 0 auto;
  color: #ffffff;
}

.header {
  min-height: 52px;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  display: flex;
  margin: 0;
  position: relative;
  overflow: hidden;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
  background-image: rgba(255, 255, 255, 1);
}

.header__links {
  padding-top: 18px;
}

.header__lang-link {
  display: inline;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  padding-left: 16px;
}

.header__lang-link:first-of-type {
  padding-left: 0;
}

.header__lang-link:focus {
  text-decoration: underline;
}

/* main content*/

/*секция lead */
.page__section {
  max-width: 984px;
  margin: 0 auto;
  color: #ffffff;
}

.lead {
  display: block;
  margin: 56px auto 0;
  max-height: 1005px;
  padding-left: 148px;
  padding-right: 148px;
}

.lead__title {
  max-width: 720px;
  max-height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
}

.lead__subtitle {
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
  max-width: 640px;
  max-height: 72px;
  width: 60%;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.lead__image {
  margin: 0;
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  padding-top: 64px;
}

.lead__caption {
  margin: 0;
  max-width: 158px;
  width: 100%;
  max-height: 14px;
  padding-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.14em; /* должно быть 0,15 (0,15 не влазит)??? */
  text-transform: uppercase;
  color: #ffffff;
  word-break: break-all;
}

/* Секция INTRO*/
.intro {
  margin: 0 auto;
  padding-top: 92px;
}

.intro__width {
  margin: 0;
  max-width: 690px;
  max-height: 429px;
  width: 100%;
}

.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  padding-top: 40px;
}

.intro__list {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px; 
  padding-top: 33px;
}

/* Секция photo-grid*/

.photo-grid {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

.photo-grid__item {
  object-fit: cover;
  max-width: 284px;
  max-height: 213px;
}

/* Секция places*/

.places {
  margin: 0 auto;
  display: grid;
  grid-row-gap: 80px;
  padding-top: 92px;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  max-width: 100%;
  max-height: 660px;
  margin: 0;
}

.place__title {
  max-width: 460px;
  max-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__image {
  max-width: 460px;
  max-height: 460px;
  
}

.place__website {
  max-width: 456px;
  margin: auto 0 0;
  
  
}

.place__url-heading {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__link {
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__paragraphs {
  margin: 0;
  max-width: 484px;
  display: grid;
  grid-row-gap: 26px;
  grid-auto-rows: minmax(min-content, max-content);
}

.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  white-space: pre-line;
}

/* Секция cover*/

.cover {
  display: block;
  position: relative;
  max-width: 1184px;
  max-height: 740px;

}

.cover__title {
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  
}

.cover__subtitle {
  text-decoration: none;

}

.cover__overlay {

}

.cover__background {
  background-image: url(../../images/cover-trains.jpg);
  max-width: 1184px;
  width: 100%;
}

/* Секция footer*/

.footer {
  margin: 0 auto;
  max-height: 18px;
  justify-content: space-between;
  display: flex;
  padding-bottom: 24px;
}

.footer__links {  
  
  margin: 0;
}

.footer__link {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  margin-left: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:first-of-type{
  margin-left: 0;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}