.header__logo {
  margin: 0;
  max-width: 176px;
  width: 100%;
  background-image: rgba(255, 255, 255, 1);
}

@media (max-width: 320px) {
  .header__logo {
    max-width: 142px;
    padding-bottom: 0;
  }
}
