.lead__title {
  max-width: 720px;
  max-height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
}

@media (max-width: 680px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-height: 88px;
    margin: 0;
  }
}
